@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: 180, 45, 45;
    --secondary: 157, 75, 0, 255;
    --tertiary: 129, 32, 32;
    --background: 13, 13, 13;
    --accent: 31, 41, 55;
    --accentSecondary: 17, 24, 39;
    --content: 255, 255, 255;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
